[submodule "themes/hugo-xmin"]
	path = themes/hugo-xmin
	url = https://github.com/yihui/hugo-xmin.git
[submodule "geniesalanherbal.github.io"]
	path = geniesalanherbal.github.io
	url = https://github.com/geniesalanherbal/geniesalanherbal.github.io.git
	branch = master
